.Contest {
  margin: 1em;
  .contest-description {
    margin-bottom: 0.5em;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid red;
  }
  .home-link {
    color: #fffffa;
  }
  .list-group {
    min-height: 20px;
  }
}
